/* don't show tag-filter-selector underline and its transition */
div:has(#tag-filter-selector)::before {
    display: none;
}
div:has(#tag-filter-selector)::after {
    display: none;
}
/* override
    mud-chip.mud-chip-size-medium height: 32px => auto
    mud-chip: white-space => nowrap
*/
.mud-chip {
    overflow-wrap: anywhere;
    min-height: 32px;
    height: auto !important;
    white-space: normal !important;
}