@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>Hitomi Scroll Viewer</FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                        <div class="content">
                            @Body
                        </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    @*
    @if (DbInitializer.IsInitialized)
    {
    }
    else
    {
        <div class="app-loading-progress">
            <FluentProgressRing Width="8dvh"></FluentProgressRing>
            <span>Loading...</span>
        </div>
    }
    *@
    <FluentFooter>
        <FluentSpacer />
        <a href="https://github.com/kaismic/Hitomi-Scroll-Viewer" target="_blank">About</a>
    </FluentFooter>
</FluentLayout>

