@page "/about"

<PageTitle>About</PageTitle>

<div class="d-flex flex-column gap-4 pa-8">
    <MudText Typo="Typo.h4">About</MudText>
    <MudText Typo="Typo.body1">Developer: kaismic</MudText>
    <MudLink Href="https://github.com/kaismic">GitHub Link</MudLink>
    <MudText Typo="Typo.body1">App Version: v3.1.0 (https://learn.microsoft.com/en-us/answers/questions/1444069/is-there-a-version-number-for-blazor-apps)</MudText>
</div>