@page "/search"

<PageTitle>Search</PageTitle>

<div style="grid-template-columns: 75% 25%; height: 100%">
    <div style="grid-column: 1; grid-template-rows: min-content min-content 1fr;">
        <div style="grid-row: 1">
            <TagFilterEditor></TagFilterEditor>
        </div>
    </div>
    <div style="grid-column: 2; grid-template-rows: min-content 1fr 1fr;">

    </div>
</div>