<h3>Settings</h3>

<div>Language</div>
<MudSelect T="string" Label="Language" Variant="Variant.Filled" Style="width: 200px;">
    <MudSelectItem T="string">English</MudSelectItem>
    <MudSelectItem T="string">Korean</MudSelectItem>
</MudSelect>

@code {

}
