.gallery-browse-item > ::deep div:hover {
    background-color: var(--mud-palette-action-default-hover);
}

.tag-collection {
    border: 1px solid var(--mud-palette-lines-default);
    border-radius: var(--mud-default-borderradius);
}

tr:not(:last-child) {
    border-bottom-color: var(--mud-palette-lines-default);
    border-bottom-width: 1px;
}

td {
    padding: 4px;
}

td:first-child {
    border-right-color: var(--mud-palette-lines-default);
    border-right-width: 1px;
    vertical-align: top;
}