.gallery-browse-item a {
    border: 1px solid rgb(0, 0, 0, 0.00)
}

.gallery-browse-item a:hover {
    border: 1px solid var(--mud-palette-primary);
    background-color: var(--mud-palette-action-default-hover);
}

.tag-collection :is(td, th) {
    border-color: var(--mud-palette-lines-default);
    border-width: 1px;
    padding: 4px;
}

th {
    font-weight: bold;
}