<a style="text-decoration: inherit; color: inherit;">
    <div style="display: grid; grid-template-columns: auto 1fr;">
        <div style="grid-column: 1;">Header 1</div>
        <div style="grid-column: 2;">Content winweio woeiwoi wuenuwn</div>
        <div style="grid-column: 1;">Header 2</div>
        <div style="grid-column: 2;">Header 2</div>
    </div>
</a>