@inject TagService TagService

<div class="tag-search-panel-collection"
     style="border: 1px solid var(--mud-palette-primary); border-radius: inherit; display: grid;
            grid-template-columns: repeat(@Tag.TAG_CATEGORIES.Length, 1fr); grid-template-rows: 100%">
    @for (int i = 0; i < Tag.TAG_CATEGORIES.Length; i++) {
        <TagSearchPanel GridColumn="@(i + 1)"
                        Category="@Tag.TAG_CATEGORIES[i]"
                        ChipModels="@TagSearchPanelChipModels[i]" />
    }
</div>